@model AddressViewModel
<td>@Model.City</td>
<td>@Model.Street</td>
<td>
    @Html.ActionLink("Edit Address", "EditAddress", "Address", new { }, new { @class = "btn btn-primary" })
    @Html.ActionLink($"{(Model.IsDeleted ? "Activate" : "Deactivate")}", "DeactivateAddress", "Address", new { addressId = @Model.AddressId }, new { @class = $"{(Model.IsDeleted ? "btn btn-success" : "btn btn-danger")}" })

</td>
<td>
    @if (Model.IsDeleted)
    {
        <div class="badge bg-danger text-wrap">
            Deactivated
        </div>
    }
    else
    {
        <div class="badge bg-success text-wrap">
            Active
        </div>
    }
</td>