@model OrderUserViewModel
<td>@(Model.DeliveryAddress.City + " " + Model.DeliveryAddress.Street)</td>
<td>@Model.OrderPlacedDate</td>
<td>@Model.OrderStatus</td>
<td>@Model.PaymentType</td>
<td>

    @using (Html.BeginForm("TrackOrder", "Orders", new { Id = Model.Id }, FormMethod.Get))
    {
        <button type="submit" class="btn btn-secondary">
            <i class="fa-solid fa-truck-fast"></i>
            Track Order
        </button>
    }
</td>
<td>
    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal-@Model.Id">
        <i class="fa-solid fa-circle-info"></i>
        View Order Details
    </button>
    <div class="modal fade" id="exampleModal-@Model.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Order Details:</h5>
                </div>
                <div class="modal-body">
                    @foreach (var product in Model.OrderProducts)
                    {
                        <div class="card rounded-3 mb-4">
                            <div class="card-body p-4">
                                <div class="row align-items-center">
                                    <div class="col-md-2 col-lg-2 col-xl-2">
                                        <img src="@Url.Content(product.ImageRelativePath)" class="card-img-top" style="max-width: 100%; max-height: 100%;" class="img-fluid rounded-3">
                                    </div>
                                    <div class="col-md-4 col-lg-4 col-xl-4">
                                        <div class="row">
                                            <div class="col">
                                                <p class="lead fw-normal mb-1">Name: @product.Name</p>
                                            </div>
                                            <div class="col">
                                                <h5 class="mb-1">Ordered: @product.QtyWanted</h5>
                                            </div>
                                            <div class="col">
                                                <h5 class="mb-1">Price: $@product.Price</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <h5 class="mb-0">Bill: $@(Model.OrderProducts.Sum(x => x.QtyWanted * x.Price))</h5>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</td>