@using Microsoft.AspNetCore.Mvc.TagHelpers
@model CategoryViewModel
@if (ViewBag.Category == Model.Name)
{
    <span class="mx-2">
        <a class="flex-sm-fill text-sm-center nav-link border border-dark rounded-pill px-3 py-2 my-1 bg-warning text-white"
           asp-action="All" asp-controller="Product" asp-route-statusFilter="@ViewBag.Filter" asp-route-category="@Model.Name">
            @Model.Name Category
            <i class="fa-solid fa-filter"></i></a>
    </span>
}
else
{
    <span class="mx-2">
        <a class="flex-sm-fill text-sm-center nav-link border border-dark rounded-pill px-3 py-2 my-1 bg-secondary text-white"
           asp-action="All" asp-controller="Product" asp-route-statusFilter="@ViewBag.Filter" asp-route-category="@Model.Name">
            @Model.Name Category
        </a>
    </span>
}