@model ProductViewModel
<div class="card" style="max-width: 250px;">
    <div style="height: 200px;">
        <img src="@Url.Content(Model.ImageRelativePath)" class="card-img-top" style="max-width: 100%; max-height: 100%;">
    </div>
    <div class="card-body">
        <p class="card-text mb-1">
            <span class="fw-bold">Name:</span> @Model.Name
        </p>
        <p class="card-text mb-1">
            <span class="fw-bold">Description:</span> @Model.Description
        </p>
        <p class="card-text mb-1">
            <span class="fw-bold">Category:</span> @Model.Category.Name
        </p>
        <p class="card-text mb-1">
            <span class="fw-bold">Created On:</span> @Model.CreatedOn
        </p>
        <p class="card-text mb-1">
            <span class="fw-bold">Creator:</span> @Model.Creator
        </p>
        <p class="card-text mb-1">
            <span class="fw-bold">Price:</span> @Model.Price
        </p>
        <p class="card-text mb-1">
            <span class="fw-bold">Quantity Available:</span> @Model.QtyAvailable
        </p>
        <p class="card-text mb-1">
            <span class="fw-bold">Status:</span> @(Model.IsDeleted ? "Deleted Product" : "Active Product")
        </p>
        <div style="display: inline-block;">
            @if (!@Model.IsDeleted)
            {
                @using (Html.BeginForm("Delete", "Product", new { id = @Model.Id, category = ViewBag.Category, page = ViewBag.PageNumber, statusFilter = @ViewBag.Filter }, FormMethod.Post))
                {
                    <button type="submit" class="btn btn-danger">
                        <i class="fa-solid fa-x"></i>
                        @(Model.IsDeleted ? "Activate" : "Delete")
                    </button>
                }
            }
            else
            {
                @using (Html.BeginForm("Delete", "Product", new { id = @Model.Id, category = ViewBag.Category, page = ViewBag.PageNumber, statusFilter = @ViewBag.Filter }, FormMethod.Post))
                {
                    <button type="submit" class="btn btn-success">
                        <i class="fa-solid fa-check"></i>
                        @(Model.IsDeleted ? "Activate" : "Delete")
                    </button>
                }
            }
        </div>
        <div style="display: inline-block;">
            @using (Html.BeginForm("Edit", "Product", new { id = @Model.Id }, FormMethod.Post))
            {
                <button type="submit" class="btn btn-primary">
                    <i class="fa-solid fa-pen-to-square"></i>
                    Edit
                </button>
            }

        </div>
    </div>
</div>