@model ProductAllViewModel

<nav class="nav nav-pills flex-column flex-sm-row">
    @foreach (var item in Model.CategoriesWithProducts)
    {
        await Html.RenderPartialAsync("_ProductCategoryPartial", item);
    }
</nav>
<a asp-action="Add" class="btn btn-success rounded-pill"><i class="fa-regular fa-circle-check"></i> Add New Product</a>
<a asp-action="All" asp-route-category="" asp-route-statusFilter="@ViewBag.Filter" class="btn btn-success rounded-pill"><i class="fa-solid fa-broom"></i> Clear Category Filter</a>
<div style="margin-top: 20px;"></div>
<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle rounded-pill" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Filter By Status - @ViewBag.Filter
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        @foreach (var option in Model.FilterOptions)
        {
            <a class="dropdown-item" asp-action="All" asp-controller="Product" asp-route-category="@ViewBag.Category" asp-route-page="@ViewBag.PageNumber" asp-route-statusFilter="@option.Value">@option.Text</a>
        }
    </div>
</div>
<div style="margin-top: 20px;"></div>
<div class="card-group">
    @foreach (var product in Model.Products)
    {
        await Html.RenderPartialAsync("_ProductCardPartial", product);
    }
</div>
<div style="margin-top: 20px;"></div>
@Html.ActionLink("Back To Home", "Index", "Home", new { }, new { @class = "btn btn-primary" })
<div style="margin-top: 20px;"></div>
@{
    await Html.RenderPartialAsync("_MessagePartial", TempData);
    await Html.RenderPartialAsync("_PagingProductsPartial");
}
